/* Основни стилове */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #034687 0%, #00c379 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

nav .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav .dropdown-item {
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

nav .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Мобилна адаптивност */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 15px;
    }
}

/* Стилове за футъра */
footer {
    background: linear-gradient(135deg, #034687 0%, #00c379 100%);
    color: white;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    padding: 10px 15px;
}

/* Събиране на основно съдържание */
main {
    margin-top: 80px; /* За да не се припокрива с хедъра */
    margin-bottom: 80px; /* За да има място за футъра */
}

footer .container p {
    margin-bottom: 0;
    font-size: 1rem;
}
